"*":
  "atom-beautify":
    _analyticsUserId: "d79fd0fd-009a-4910-aa84-923d192c4d65"
    analytics: false
    css_convert_quotes: "double"
    css_force_indentation: true
    css_newline_between_rules: true
    css_selector_separator_newline: true
    html_end_with_newline: true
    html_wrap_attributes: "force"
    js_break_chained_methods: true
    js_end_with_newline: true
    js_indent_with_tabs: false
    js_space_after_anon_function: true
    language_xml_default_beautifier: "JS Beautify"
  "atom-ternjs":
    useSnippetsAndFunction: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    audioBeep: false
    disabledPackages: [
      "language-objective-c"
      "background-tips"
      "exception-reporting"
      "language-clojure"
      "language-go"
      "language-java"
      "language-mustache"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "language-yaml"
      "metrics"
      "spell-check"
      "welcome"
      "autocomplete"
      "open-on-github"
      "language-todo"
      "package-generator"
      "language-csharp"
      "timecop"
      "image-view"
      "deprecation-cop"
      "jsformat"
      "language-javascript"
      "language-javascript-semantic"
      "esformatter"
      "vim-mode"
    ]
    themes: [
      "native-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 125
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "file-icons":
    forceShow: true
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      "target/*"
      "*.java"
      "node_modules/*"
    ]
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    lightTheme: true
  jsformat: {}
  linter:
    subtleLinterErrors: [
      "htmlhint"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    eslintRulesDir: ".eslintrules"
    globalNodePath: "/usr/local/"
    showRuleIdInMessage: false
  "linter-htmlhint": {}
  "linter-jsonlint": {}
  "linter-scss-lint": {}
  "markdown-preview": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  pigments:
    markerType: "square-dot"
  "symbols-tree-view":
    autoToggle: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    allowTreeViewToScrollHorizontally: true
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
