"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 12
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
    tabLength: 4
    softTabs: false
    preferredLineLength: 125
    fontFamily: "Hack"
    showInvisibles: true
    tabType: "hard"
  core:
    disabledPackages: [
      "language-objective-c"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "language-clojure"
      "language-go"
      "language-java"
      "language-mustache"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "language-yaml"
      "metrics"
      "spell-check"
      "welcome"
      "autocomplete"
      "open-on-github"
      "language-todo"
      "package-generator"
      "language-csharp"
      "timecop"
      "image-view"
      "go-to-line"
      "deprecation-cop"
      "jsformat"
      "language-javascript"
      "language-javascript-semantic"
      "esformatter"
      "vim-mode"
      "linter-scss-lint"
    ]
    themes: [
      "unity-ui"
      "solarized-light-syntax"
    ]
    audioBeep: false
  linter:
    subtleLinterErrors: [
      "htmlhint"
    ]
  "file-icons":
    forceShow: true
    onChanges: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  jsformat: {}
  "unity-ui":
    allowTreeViewToScrollHorizontally: true
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  emmet: {}
  "atom-beautify":
    _analyticsUserId: "d79fd0fd-009a-4910-aa84-923d192c4d65"
    analytics: false
    html_end_with_newline: true
    js_indent_with_tabs: true
    js_space_after_anon_function: true
    js_end_with_newline: true
    css_convert_quotes: "double"
    css_newline_between_rules: true
    css_force_indentation: true
    css_selector_separator_newline: true
  "atom-ternjs":
    useSnippetsAndFunction: true
  "linter-eslint":
    showRuleIdInMessage: false
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local/"
  "markdown-preview": {}
  "linter-htmlhint": {}
  tabs:
    usePreviewTabs: true
    enableVcsColoring: true
  "linter-jsonlint": {}
  pigments:
    markerType: "square-dot"
  "linter-scss-lint": {}
  "highlight-selected":
    lightTheme: true
    highlightBackground: true
    hideHighlightOnSelectedWord: true
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    plugins:
      "highlight-selected": true
  "symbols-tree-view":
    autoToggle: true
